.navbar img { 
    width: 100px !important;
}

.hero-section {
    background-image: url("https://assets.xboxservices.com/assets/93/4e/934e173b-8b50-457d-a888-bf5dccc28f0b.jpg?n=0277800_Accessories-Hub_Page-Hero-1084_1920x720.jpg");
    color: white;
}